.contact-page {
    background-color: #131126;
    color: #FDF008;
}
.red-line {
    color: #FF0F53;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.CONTACT-US {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.paragraph {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.contact-page {
    max-width: 800px;
}

label {
    font-weight: 800;
}